* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    /*background-color: #EFE1D1;*/
    background: url(https://www.denpasarkota.go.id/public/uploads/berita/berita_192709090938_Rekomendasi6TempatServisLaptopdiDenpasar.jpg) no-repeat;
    background-size: cover;
    background-position: center;

}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: #A78295;
    box-shadow: 2px 4px 2px rgba(0,0,0,0.3);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 32px;
    color: #331D2C;
    text-decoration: none;
    font-weight: 700;
}

.navbar a {
    position: relative;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    color: #331D2C;
    margin-left: 40px;
    padding: 10px;
}

.navbar a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: #EFE1D1;
    transition: .3s;
}

.navbar a:hover::before {
    width: 100%;
}